@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ds-btn {
    --btn-text-case: none;
    --rounded-btn: 0.6875em;
  }

  .ds-btn-pastel {
    @apply ds-btn-ghost;
  }

  .ds-btn-pastel:hover,
  .ds-btn-pastel.ds-btn-active,
  .ds-btn-pastel.active {
    @apply bg-base-200 dark:bg-base-content/10 text-primary dark:text-current;
  }

  .ds-table-dark :where(tbody th, tbody td) {
    @apply dark:bg-neutral/50
  }
}



/* Scroll thumb styles */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary/50 dark:bg-neutral rounded-2xl;
  background-clip: content-box;
  border: 4px solid transparent;
  height: 56px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-primary/70 dark:bg-neutral;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/70 dark:bg-neutral;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Scroll track styles (Background) */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  @apply bg-primary/10 dark:bg-neutral/20;
}